#my-calendar {
  position: relative;
  margin: 0;
  width: 227px;
  height: 251px;
  padding: 14px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.tavo-calendar {
  text-align: center;
  font-size: 13px; 
}

.tavo-calendar__code {
  width: 197px;
  margin: 0;
  position: absolute;
  top: 14px;
  left: 14px;
}

.tavo-calendar__info {
  visibility: hidden;
  display: none; 
  text-align: left;
  margin-bottom: 8px;
  font-size: 12px; 
}

.tavo-calendar__info span {
    font-weight: bold;
    background-color: #f1f1f1; 
}

.tavo-calendar__info:after {
    content: '';
    display: block;
    clear: both; 
}

.tavo-calendar__header {
  width: 197px;
  height: 31px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(24, 160, 251, .1);
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 230%;
  text-align: center;
  color: #2C2C2C;
  border-radius: 5px;
}

.tavo-calendar__nav {
  float: left;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  padding: 0;
  top: 3px;
  fill: #2C2c2c; 
}

.tavo-calendar__nav_prev, .tavo-calendar__nav_next {
    text-align: left; 
}

.tavo-calendar__nav_prev svg, .tavo-calendar__nav_next svg {
    width: 16px;
    height: 16px; 
}

.tavo-calendar__code_lock:hover {
  opacity: 1; }

.tavo-calendar__code_lock .tavo-calendar__days {
  pointer-events: none; }

.tavo-calendar__week-names {
  display: flex;
  background-color: #fff;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;}

.tavo-calendar__days {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; }

.tavo-calendar__reset {
  float: right; 
}

.tavo-calendar__reset svg {
  height: 16px;
  width: 16px; 
}

.tavo-calendar__weekday {
  flex: 1;
  text-align: center; 
}

.tavo-calendar__days {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 230%;
  text-align: center;
  color: #2C2C2C;
}

.tavo-calendar__day {
  flex: 1;
  min-width: 14%;
  max-width: 15%;
  text-align: center;
  cursor: default; 
}

.tavo-calendar__day span {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-block;
  line-height: 26px;
  font-size: 12px; 
}

.tavo-calendar__day span:hover {
  background-color: #18A0FB; 
  border-radius: 50%; 
}

.tavo-calendar__day_highlight {
    color: red !important; 
}

.tavo-calendar__day_abs-today {
    border-radius: unset; 
}

.tavo-calendar__day_today:hover span {
    border-radius: 50%; 
}

.tavo-calendar__day_off, .tavo-calendar__day_exp, .tavo-calendar__day_different-month, .tavo-calendar__day_lock {
    cursor: default;
    background-color: unset; 
}

.tavo-calendar__day_off day, .tavo-calendar__day_off day:hover, .tavo-calendar__day_exp day, .tavo-calendar__day_exp day:hover, .tavo-calendar__day_different-month day, .tavo-calendar__day_different-month day:hover, .tavo-calendar__day_lock day, .tavo-calendar__day_lock day:hover {
      background: unset; }

.tavo-calendar__day_off span {
    text-decoration: line-through; 
}

.tavo-calendar__day_select span {
    background-color: unset; 
}

.tavo-calendar__day_select span {
    /* background-color: #18A0FB; */
    border-radius: unset; 
}

.tavo-calendar__day_select day:hover {
    background-color: #18A0FB; 
  
}
.tavo-calendar__day_select.tavo-calendar__day_range-start {
  position: relative;
  z-index: 2;
}
.tavo-calendar__day_range-select {
  position: relative;
  z-index: 1;
  
}

.tavo-calendar__day_range-select::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(24, 160, 251, .2); 
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -3;
}


.tavo-calendar__day:hover {
  color: #fff;
}
.tavo-calendar__day_range-start, 
.tavo-calendar__day_range-end,

.tavo-calendar__day_range-start:hover,

.tavo-calendar__day_range-end:hover {
  position: relative;
  color: #fff;
}

.tavo-calendar__day_range-start::before,
.tavo-calendar__day_range-start::after {
  display: block;
  background: transparent;
} 
/* 
.tavo-calendar__day_range-start.tavo-calendar__day_range-select.tavo-calendar__day_select:hover, */
.tavo-calendar__day_range-start:hover,
.tavo-calendar__day_range-end:hover,

.tavo-calendar__day_range-start,
.tavo-calendar__day_range-end {
  background: #18A0FB;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
  
.tavo-calendar__day_select-lock {
    pointer-events: none;
} 

.tavo-calendar__day_different-month {
    visibility: hidden;
}

.tavo-calendar__code_lock {
    opacity: 1;
}
